<div>
	<form>
    <md-input-container>
        <label>Full Name</label>
        <input ng-model="name" required>
    </md-input-container> 
	<md-input-container>
        <label>username</label>
        <input ng-model="username" required>
    </md-input-container> 
	<md-input-container>
        <label>password</label>
        <input type="password" ng-model="password" required>
    </md-input-container> 
	<md-input-container>
        <label>confirm password</label>
        <input type="password" ng-model="confirm_password" required>
    </md-input-container>
	<md-button type="submit" ng-click="createNewMember()" class="md-raised md-primary" > Create Member </md-button>
	</form>
</div>