<md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<form>
			<br />
			<md-input-container>
				<label>username</label>
				<input id="username" ng-model="username" required>
			</md-input-container> <br />
			<md-input-container>
				<label>password</label>
				<input type="password" ng-model="password" required>
			</md-input-container> <br />
			<div style="text-align: center">
				<md-button type="submit" ng-click="login()" class="md-raised md-primary" > Login </md-button>
			</div>
		</form>
	</section>
</md-content>